body{
    background-color: black;
    align-content: center;
}

.content{
    margin-left: 500px;
    margin-top: 100px;
}
#text{
    color: white;
}
h1{
    padding-left: 180px;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
p{
    padding-left: 230px
}
img{
    border:10px solid white;
    margin: 0;
}
